@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@section styles{
    <!--datatable css-->
    <link href="~/css/dx.light.css" rel="stylesheet" />
}

@Html.AntiForgeryToken()
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> @User.Identity?.Name </p>
</div>
@section scripts{

}